RewriteEngine On
RewriteRule ^Inicio$                  index.php
RewriteRule ^Registro$                index.php?c=website&a=register
RewriteRule ^validarText$             index.php?c=website&a=validarText
RewriteRule ^emailReg$                index.php?c=website&a=emailReg
RewriteRule ^validarClave$            index.php?c=website&a=validar_clave
RewriteRule ^compararClave$           index.php?c=website&a=comparar_clave
RewriteRule ^Guardar$                 index.php?c=website&a=create
RewriteRule ^GuardarEst$              index.php?c=website&a=createEstablecimiento
RewriteRule ^emailLog$                index.php?c=website&a=emailLog
RewriteRule ^ingreso$                 index.php?c=website&a=validarLogin
RewriteRule ^completeProfile$         index.php?c=user&a=completar
RewriteRule ^actualizarProfile$       index.php?c=user&a=actualizar
RewriteRule ^recuperar$               index.php?c=user&a=recuperar
RewriteRule ^sendMessaje$             index.php?c=website&a=messaje
RewriteRule ^updatePass$              index.php?c=website&a=updatePass
RewriteRule ^Dashboard$				  index.php?c=user&a=dashboard
RewriteRule ^Establecimiento$ 		  index.php?c=user&a=establecimiento
RewriteRule ^EstablecimientoInfo$ 	  index.php?c=user&a=establecimientoInfo
RewriteRule ^MisReservas$ 	 		  index.php?c=user&a=misReservas
RewriteRule ^reservar$ 	              index.php?c=user&a=reservar
RewriteRule ^promoEventos$ 	          index.php?c=user&a=promoEventos
RewriteRule ^GuardarReserva$ 	      index.php?c=user&a=guardarReserva
RewriteRule ^MostrarInfo$             index.php?c=user&a=mostrarInfoEstablecimiento
RewriteRule ^EscogerRegistro$ 		  index.php?c=website&a=escogerRegistro
RewriteRule ^RegistroEst$ 		      index.php?c=website&a=registroEstablecimiento
RewriteRule ^DashboardEstablecimiento$	index.php?c=establecimiento&a=dashboardEst
RewriteRule ^actualizarProfileEst$    index.php?c=establecimiento&a=actualizar
RewriteRule ^MisReservasEst$ 	 	  index.php?c=establecimiento&a=misReservas
RewriteRule ^promoEventosEst$ 	 	  index.php?c=establecimiento&a=promoEventosEst
RewriteRule ^regPromo$ 	 	          index.php?c=establecimiento&a=regPromo
RewriteRule ^GuardarPromo$ 	 	      index.php?c=establecimiento&a=createPromo
RewriteRule ^deleteReservaEst$ 	 	  index.php?c=establecimiento&a=deleteReservaEst
RewriteRule ^CerrarSesion$ 	          index.php?c=user&a=cerrarSesion
